<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>UEC Caballeria</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">U.E.C Caballeria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/views/caballos.ejs">Caballos <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/jinete.ejs">Jinetes</a>
            </li>
            <li class="nav-item dropdown">             
            </li>           
            </ul>            
          </div>
        </nav>
        <div class="container mt-4">
            <div class="card border-secondary">
                <div class="card-header">Nuevo Registro</div>
                <div class="card-body">
                    <form action="/save" method="POST" enctype="application/x-www-form-urlencoded">
                        <div class="form-column">
                            <!-- <label for="id" class="form-label">ID</label>
                            <input type="text" name="id"> -->
                            <label for="Sable" class="form-label">Sable</label>
                            <input type="text" name="Sable">
                            <label for="Nombre" class="form-label">Nombre</label>
                            <input type="text" name="Nombre">
                            <label for="Apellido" class="form-label">Apellido</label>
                            <input type="text" name="Apellido">
                        </div>
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/views/jinete.ejs" class="btn btn-secondary">Cancelar</a>
                    </form>
                
                </div>

            </div>

        </div>
       
  
    <footer class="bg-dark py-3">
      <p class="text-center text-white">&copy; U.E.C Caballeria 2023</p>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha384-jq0nH1vAWKdys3xTg



  
             
